.sidebar{
  position: fixed;
  left: 0;
  width: 72px;
  top: 55px;
  bottom: 0;
z-index: 200;  


}
.sidebar img{
  width: 24px;
  margin-bottom: 4px;
}
.sidebar-link{
  height: 76px;
  margin-bottom: 1px;
  background-color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
cursor: pointer;
}
.sidebar-link:hover{
  background-color: gray;
}
.sidebar-link div{
  font-family: roboto,arial;
  font-size: 10px;
}